.html, body {
    font-size: 62.5%;
    min-height: 180px;
    width: 384px;
    padding: 15px;
  }
  
  .App {
    text-align: center;
  }

  .header {
    margin-top: 0;
  }
  
  .option__text {
    display: inline-block;
  }
  
  .button--link {
    display: inline-block;
  }

  /* drag and drop */

  /* .flexbox {
    display: flex;
    justify-content: space-between;
    
    width: 100%;
    max-width: 768px;
    height: 80vh;

    overflow: hidden;

    margin: 0 auto;
    padding: 15px;
  }

  .flexbox .board {
    display: flex;
    flex-direction: column;
    
    width: 100%;
    max-width: 300px;

    background-color: #313131;

    padding: 15px;
  } */

  .card {
    padding: 15px 25px;
    background-color: #f3f3f3;

    cursor: pointer;
    margin-bottom: 15px;
  }